<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespac: 必须与对应的接口全类名一致
	id: 必须与对应接口的某个对应的方法名一致	
 -->
 
<mapper namespace="com.tgb.mapper.LogMapper">
	
	<insert id="log" parameterType="Log" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into log(userId, 
			createDate, 
			content,
			operation) 
		values(#{userId},
			#{createDate},
			#{content},
			#{operation})
	</insert>
	
</mapper>